<!DOCTYPE html>
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU", crossorigin="anonymous")
        title #{pageTitle} | #{siteName}
    body
        header.header
            .header__wrapper
                .header__column
                    p 메뉴업로드
        main
           .form-container
                form(action=`/admin${routes.menuUpload}`, accept-charset="utf-8", method="post", enctype="multipart/form-data")
                    div.itemUpload
                        label(for="file") 메뉴 이미지
                        input(type="file", id="file", name="imageFile", required=true, accept="image/*")
                    input(type="text", placeholder="메뉴명", name="itemName", required=true)
                    input(type="number", placeholder="메뉴가격", name="itemPrice", required=true)
                    textarea(name="description", placeholder="메뉴설명", required=true)
                    input(type="submit", value="메뉴 업로드")
        footer.footer
            .footer__icon
                i.fas.fa-concierge-bell
            span.footer__text #{siteName} #{new Date().getFullYear()} &copy;