<!DOCTYPE html>
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU", crossorigin="anonymous")
        title #{pageTitle} | #{siteName}
    body
        header.header
            .header__wrapper
                .header__column
                    p #{table_num}번 테이블 주문완료
        main
            p 주문번호
            p #{order_num}
        footer.footer
            .footer__icon
                i.fas.fa-concierge-bell
            span.footer__text #{siteName} #{new Date().getFullYear()} &copy;